{% if paginate.pages > 1 %}
  <div class="pagination">
    {% if paginate.previous %}
      <a class="pagination__prev inh-col underline underline--on-hover" href="{{ paginate.previous.url }}">&laquo; {{ 'general.pagination.previous' | t }}</a>
      <span class="pagination__sep">&middot;</span>
    {% endif %}

    {% for part in paginate.parts %}
      <span class="pagination__number{% if paginate.current_page == part.title %} underline underline--not-link{% endif %}">
        {%- if part.is_link -%}
          <a class="inh-col underline underline--on-hover" href="{{ part.url }}">{{ part.title }}</a>
        {%- else -%}
          {{- part.title -}}
        {%- endif -%}
      </span>
    {% endfor %}

    {% if paginate.next %}
      <span class="pagination__sep">&middot;</span>
      <a class="pagination__next inh-col underline underline--on-hover" href="{{ paginate.next.url }}">{{ 'general.pagination.next' | t }} &raquo;</a>
    {% endif %}
  </div>
{% endif %}
