<div class="{% if section.settings.use_alt_bg %}use-alt-bg fully-padded-row--medium{% else %}fully-spaced-row--medium{% endif %}" data-section-type="video">
  <div class="container">
    <div class="flexible-layout valign-middle">
      <div class="column column--half {% if section.settings.video_position == 'right' %}column--order-push-desktop{% endif %}">

        {% if section.settings.video_shopify != blank or section.settings.video_external != blank %}
          <div class="video-container image-overlay image-overlay--bg-no_background"
            {% if section.settings.video_shopify != blank %}
              data-video-sources="{%- for source in section.settings.video_shopify.sources -%}
                {{ source.format }} {{ source.mime_type }} {{ source.url }}
                {%- unless forloop.last -%}|{%- endunless -%}
              {%- endfor -%}"
              data-video-type="mp4"
            {% elsif section.settings.video_external != blank %}
              data-video-url="{{ section.settings.video_external | escape }}"
            {% endif %}
            data-video-autoplay="{% if section.settings.autoplay %}true{% else %}false{% endif %}"
            data-video-loop="true"
            data-cc-animate>
            <div class="video-container__video"></div>

            {%- liquid
              if section.settings.placeholder_image
                assign placeholder_image = section.settings.placeholder_image
              elsif section.settings.video_shopify
                assign placeholder_image = section.settings.video_shopify.preview_image
              endif
            -%}
            {% unless section.settings.autoplay %}
              <div class="video-container__cover">
                {%- if placeholder_image == blank -%}
                  <div class="placeholder-image placeholder--banner dark">
                    {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
                  </div>
                {%- else -%}
                  <div class="rimage-outer-wrapper rimage-background lazyload fade-in"
                      data-bgset="{% render 'bgset', image: placeholder_image %}"
                      data-sizes="auto"
                      data-parent-fit="cover"
                      style="background-position: {{ placeholder_image.presentation.focal_point }}">
                    <noscript>
                      <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: placeholder_image.aspect_ratio | times: 100 }}%">
                        <img loading="lazy" src="{{ placeholder_image | img_url: '1024x1024' }}" alt="{{ placeholder_image.alt | escape }}" class="rimage__image">
                      </div>
                    </noscript>
                  </div>
                {%- endif -%}
              </div>
              <div class="overlay-text overlay-text--for-banner overlay--v-center overlay--h-center image-overlay__over">
                <div class="overlay-text__inner">
                  <div class="overlay-text__text">
                    <a href="#" class="video-container__play" aria-label="{{ 'general.accessibility_labels.video_play' | t | escape }}">{% render 'svg-play' %}</a>
                  </div>
                </div>
              </div>

            {% elsif placeholder_image %}
              <div class="video-container__fallback rimage-outer-wrapper rimage-background lazyload fade-in"
                data-bgset="{% render 'bgset', image: placeholder_image %}"
                data-sizes="auto"
                data-parent-fit="cover"
                style="background-position: {{ placeholder_image.presentation.focal_point }}">
                <noscript>
                  <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: placeholder_image.aspect_ratio | times: 100 }}%">
                    <img loading="lazy" src="{{ placeholder_image | img_url: '1024x1024' }}" alt="{{ placeholder_image.alt | escape }}" class="rimage__image">
                  </div>
                </noscript>
              </div>
            {% endunless %}
          </div>
        {% endif %}
      </div>

      <div class="column column--half align-{{ section.settings.text_alignment }}" data-cc-animate>
        <div class="feature-text-paired">
          {%- if section.settings.subheading != blank -%}
            <div class="subheading subheading--over">{{ section.settings.subheading | escape }}</div>
          {%- endif -%}

          {% if section.settings.title != blank %}
            {% if section.settings.use_h1 %}
              <h1 class="majortitle in-content">{{ section.settings.title | escape }}</h1>
            {% else %}
              <h2 class="majortitle in-content h1-style">{{ section.settings.title | escape }}</h2>
            {% endif %}
          {% endif %}

          <div class="rte">{{ section.settings.text }}</div>

          {% if section.settings.button_label != blank %}
            <div class="lightish-spaced-row-above">
              <a class="{% if section.settings.button_style != 'link' %}btn btn--{{ section.settings.button_style }}{% else %}small-feature-link{% endif %}" href="{{ section.settings.button_link }}">{{ section.settings.button_label | escape }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Video with text",
    "class": "section-video-with-text",
    "settings": [
      {
        "id": "video_shopify",
        "type": "video",
        "label": "Video upload",
        "info": "Hosted by Shopify. Replaces External video if both are set."
      },
      {
        "id": "video_external",
        "type": "video_url",
        "label": "External video",
        "accept": ["youtube", "vimeo"],
        "info": "Supports YouTube and Vimeo",
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": false
      },
      {
        "id": "placeholder_image",
        "type": "image_picker",
        "label": "Custom placeholder image",
        "info": "Required for External videos"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Video with text"
      },
      {
        "type": "checkbox",
        "id": "use_h1",
        "label": "Set as primary page heading",
        "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair text with a video to give customers insight into your brand. Tell a story, explain a product detail, or describe a new promotion.<\/p>"
      },
	    {
        "type": "text",
        "id": "button_label",
        "label": "Button",
        "default": "Read more"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "label": "Button - primary",
            "value": "primary"
          },
          {
            "label": "Button - secondary",
            "value": "secondary"
          },
          {
            "label": "Link",
            "value": "link"
          }
        ]
      },
      {
        "type": "select",
        "id": "video_position",
        "label": "Video alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Video with text",
        "settings": {}
      }
    ]
  }
{% endschema %}
